services:
  db:
    image: postgis/postgis:15-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=atibaia_geo
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: 
      context: ./backend  # <--- MUDANÇA: O contexto de build agora é a pasta backend
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app          # Mapeia o código Python
      - ./frontend:/frontend    # <--- TRUQUE: Mapeia o frontend externo para dentro do container temporariamente
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/atibaia_geo
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: